{% extends 'base.html' %}
{% block title %}Collection statistics{% endblock %}
{% set active_page = "micrograph" %}
{% block nav_title %}
      <ul class="nav navbar-nav nav-center"> 
      <li><p class="navbar-text nav-title"><a href="javascript:void(0);" id="button_previous"><span class="glyphicon glyphicon-arrow-left"></span></a> <span id="title_field"></span> <a href="javascript:void(1);" id="button_next"><span class="glyphicon glyphicon-arrow-right"></span></a></p></li>
      </ul>
{% endblock %}
{% block cust_js %}
  <script type="text/javascript" src="/assets/lib/mousetrap/mousetrap.min.js"></script>  
  <script type="text/javascript" src="/assets/js/micrograph.js"></script>  
{% endblock %}
{% block content %}
   <div class="row"> 
    <div class="col-sm-6"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Preview Image 
      </div> 
      <div class="chart-stage"> 
	      <div id="big_micro_wrapper">
       <img id="big_micro" /> 
       <canvas id="big_micro_canvas"></canvas>
	      </div>
      </div> 

      <div class="chart-notes">
        This image is downsampled for file size 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6"> 
     <div class="row"> 
      <div class="col-sm-6"> 
       <div class="chart-wrapper"> 
        <div class="chart-title">
          Gctf preview 
        </div> 
        <div class="chart-stage"> 
         <img id="gctf_preview" /> 
        </div> 
        <div class="chart-notes">
          Raw ft, gctf averaged and Gctf model 
        </div> 
       </div> 
      </div>
      <div class="col-sm-6"> 
       <div class="chart-wrapper"> 
        <div class="chart-title">
          Micrograph motion 
        </div> 
        <div class="chart-stage"> 
         <div id="motion_chart" ></div> 
        </div> 
        <div class="chart-notes">
           Motion between frames as fitted by Motioncor2
        </div> 
       </div> 
      </div> 
     </div> 
   <div class="row"> 
    <div class="col-sm-12"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Radial averaged CTF plot 
      </div> 
      <div class="chart-stage"> 
       <div id="radial_plot"> 
       </div> 
      </div> 
      <div class="chart-notes">
        Notes about this chart 
      </div> 
     </div> 
    </div> 
   </div> 
   </div>
   </div>
   <div class="row"> 
    <div class="col-sm-12"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Micrograph information 
      </div> 
      <div class="chart-stage"> 
       <div id="micrograph_information" class="row"> 
      </div> 
      <div class="chart-notes">
        Information about this Micrograph 
      </div> 
     </div> 
     </div>
     </div>
     {% endblock %}
