{% extends 'base.html' %}
{% block title %}Montages{% endblock %}
{% set active_page = "montage" %}
{% block nav_title %}
      <ul class="nav navbar-nav nav-center"> 
      <li><p class="navbar-text nav-title"><a href="javascript:void(0);" id="button_previous"><span class="glyphicon glyphicon-arrow-left"></span></a> <span id="title_field"></span> <a href="javascript:void(1);" id="button_next"><span class="glyphicon glyphicon-arrow-right"></span></a></p></li>
      </ul>
{% endblock %}
{% block cust_js %}
  <script type="text/javascript" src="/assets/lib/mousetrap/mousetrap.min.js"></script>  
  <script type="text/javascript" src="/assets/js/montage.js"></script>  
{% endblock %}
{% block content %}
   <div class="row"> 
    <div class="col-sm-12"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Montage 
      </div> 
      <div class="chart-stage"> 
       <img id="big_micro" /> 
      </div> 
      <div class="chart-notes">
        This image is downsampled for file size 
      </div> 
     </div> 
    </div> 
   </div>
     {% endblock %}
