{% extends 'base.html' %}
{% block title %}Collection statistics{% endblock %}
{% set active_page = "statistics" %}
{% block cust_js %}
  <script type="text/javascript" src="/assets/js/index.js"></script>  
{% endblock %}
{% block content %}
<div class="row"> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Dose rate 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-1-1"> 
       </div> 
      </div> 
      <div class="chart-notes">
        Dose rate calculates by summing up pixel values in movie stack 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        First frame shift 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-1-2"> 
       </div> 
      </div> 
      <div class="chart-notes">
        Frame shift between first and second frame 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Total frame shift 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-1-3"> 
       </div> 
      </div> 
      <div class="chart-notes">
        Sum of absolute frame shifts 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="row"> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Defocus 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-2-1"> 
       </div> 
      </div> 
      <div class="chart-notes">
        Defocus estimated by Gctf 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Astigmatism
      </div> 
      <div class="chart-stage"> 
       <div id="grid-2-2"> 
       </div> 
      </div> 
      <div class="chart-notes">
        Astigmatism estimated by Gctf 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Astigmatism angle
      </div> 
      <div class="chart-stage"> 
       <div id="grid-2-3"> 
       </div> 
      </div> 
      <div class="chart-notes">
        Astigmatism angle estimated by Gctf 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="row"> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Estimated resolution 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-3-1"> 
       </div> 
      </div> 
      <div class="chart-notes">
        Maximal resolution estimated by Gctf 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Gctf validation score 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-3-2"> 
       </div> 
      </div> 
      <div class="chart-notes">
        Sum of Gctf validation scores, ideally 20 
      </div> 
     </div> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
     <div class="chart-wrapper"> 
      <div class="chart-title">
        Phase shift 
      </div> 
      <div class="chart-stage"> 
       <div id="grid-3-3"> 
       </div> 
      </div> 
      <div class="chart-notes">
        Phase shift estimated by Gctf 
      </div> 
     </div> 
    </div> 
   </div> 
{% endblock %}
